.registration-new {
  justify-content: center;
  border: 2px groove;
  border-radius: 10px;
  background-color: #888;
  margin: 75px 105px;
  padding: 20px;
  font-weight: bold;
}

.registration-header {
  color: white;
  font-weight: bold;
}

.first-name-white {
  color: white;
  font-weight: bold;
}

.email-white {
  color: white;
  font-weight: bold;
}

.password-white {
  color: white;
  font-weight: bold;
}

.password-confirm-white {
  color: white;
  font-weight: bold;
}

.registration-img {
  width: 120px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
