.card-ticket {
  list-style: none;
  background: black;
  justify-content: center;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 420px;
  margin: 20px auto;
  color: white;
  padding: 50px;
  font-weight: bold;
}
