.ticket-new {
  justify-content: center;
  border: 2px groove;
  border-radius: 10px;
  background-color: #888;
  margin: 75px 105px;
  padding: 20px;
  font-weight: bold;
}

.new-header {
  color: white;
  font-weight: bold;
}

.new-category {
  color: white;
  font-weight: bold;
}

.new-description {
  color: white;
  font-weight: bold;
}
