.ticket-container {
  justify-content: center;
  border: 2px groove;
  border-radius: 10px;
  background-color: #888;
  margin: 75px 105px;
  padding: 20px;
  font-weight: bold;
}

.user-white {
  color: white;
  font-weight: bold;
}

.ticket-header {
  color: white;
  font-weight: bold;
}


