<% if @ticket.response %>
  <%= @ticket.response.content%>ticket was responded to on: <%= @ticket.response.created_at.strftime("%m/%d/%Y %I:%M %p") %>
<% elsif @ticket.reviewer.user == current_user  %>
  <div class="d-flex justify-content-center mt-1">
   <%= link_to "Give response", new_ticket_response_path(@ticket), class: "text-decoration-none btn btn-secondary" %>
  </div>
<% end %>
