<% if @ticket.response %>
  <ul>
    <div class="response-show-container">
      <li><%= @ticket.response.content%></li>
      <li>Ticket was closed <%= time_ago_in_words(@ticket.response.created_at) %> ago by <%= @ticket.reviewer.first_name %></li>
    </div>
  </ul>
<% elsif @ticket.reviewer.user == current_user  %>
  <div data-controller="toggle" class="d-block justify-content-center mt-1">
    <button data-action="click->toggle#fire" class="text-decoration-none btn btn-secondary">Give response</button>
    <div data-toggle-target="togglableForm" class="d-none">
      <%= render "responses/new", response: @response %>
    </div>
  </div>
<% end %>
