.password-new {
  justify-content: center;
  border: 2px groove;
  border-radius: 10px;
  background-color: #888;
  margin: 75px 105px;
  padding: 20px;
  font-weight: bold;
}

.password-new-header {
  color: white;
  font-weight: bold;
}

.password-email {
  color: white;
  font-weight: bold;
}


.password-new-img {
  width: 120px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
